<p style="color: green"><%= notice %></p>

<h1>Orders</h1>

<div id="orders">
<%= form_with url: orders_path, method: :get, local: true do |form| %>
  <%= form.text_field :search, placeholder: "Search by product name" %>
  <%= form.submit "Search" %>
<% end %>


  <% @orders.each do |order| %>
    <%= render order %>
    <p>
      <%= link_to "Show this order", order %>
    </p>
  <% end %>
</div>

<%= link_to "New order", new_order_path %>
